.counter {
    position: fixed;
    display: flex;
    gap: 28px;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 100%;
    padding: 7px 0;
    z-index: 1000;
}

.counter__text {
    font-weight: var(--font-bold);
    font-size: 1.875rem;
}

.counter__timer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.7rem;
    --timer-color: var(--azure);
}

.counter__timer::before,
.counter__timer::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0.6rem;
    height: 0.6rem;
    background-color: var(--timer-color);
    opacity: 0.5;
    border-radius: 100%;
}

.counter__timer::before {
    transform: translate(-50%, -1.2rem);
}

.counter__timer::after {
    transform: translate(-50%, -0.2rem);
}

.counter__timer--stop {
    --timer-color: var(--red);
    --dot-color: var(--red-fade);
}

.counter__timeblock {
    display: flex;
    flex-direction: column;
    align-items: center;;
}

.counter__numbers {
    font-size: 3.75rem;
    font-family: "Bebas Neue";
    color: var(--timer-color);
    line-height: 100%;
}

.counter__words {
    font-weight: var(--font-bold);
    color: #818798;
}